<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        {{web.show}} <br>
        <!-- v-show控制文字是否隐藏 -->
        <p v-show="web.show">秦一骅狗叫</p>
        <!-- v-if控制文字是否隐藏，但不适用于频繁切换元素显示状态 -->
        <p v-if="web.show">www.baidu.com</p>

        <button @click="toggle">切换显示状态</button>

        <!-- 可以使用if-else分支语句 -->
        <p v-if="web.usr < 1000">新网站</p>
        <p v-else-if="web.usr > 1000 && web.usr < 10000">优秀网站</p>
        <p v-else>资深网站</p>
    </div>

    <script type="module">
        import { createApp, reactive } from './vue.esm-browser.js'

        createApp({
            // setup选项 用于设置响应式数据和方法等等
            setup(){
                const web = reactive({
                    show: true,
                    usr: 50000
                })

                const toggle = () => {
                    web.show = !web.show
                }

                return {
                    web,
                    toggle
                }
            }
        }).mount('#app')
    </script>
</body>
</html>