<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- 无序号列表 -->
        <ul>  
            <li v-for="value in data.number">
                {{value}}
            </li>
        </ul>

        <ul>  
            <li v-for="(value, index) in data.number">
                index => {{index}} : value => {{value}}
            </li>
        </ul>

        <ul>  
            <li v-for="(value, key) in data.user">
                key => {{key}} : value => {{value}}
            </li>
        </ul>

        <ul>  
            <li v-for="(value, key, index) in data.user">
                index => {{index}} : key => {{key}} : value => {{value}}
            </li>
        </ul>

        <ul>  
            <!-- template可以用于包装多行标签或者代码，而且不会在页面中渲染 -->
            <template v-for="(value, key, index) in data.user">
                <li v-if="index==1">
                    index => {{index}} : key => {{key}} : value => {{value}}
                </li>
            </template>
        </ul>

        <!-- 对象属性{}定义的，可以使用 . 来访问参数 -->
        <ul>  
            <li v-for="(value, index) in data.teacher" :title="value.name" :key="value.id">
                index => {{index}} : value.id => {{value.id}} : value.name => {{value.name}} : value.web => {{value.url}}
            </li>
        </ul>
    </div>

    <script type="module">
        import { createApp, reactive } from './vue.esm-browser.js'

        createApp({
            // setup选项 用于设置响应式数据和方法等等
            setup(){
                const data = reactive({
                    number: ['十', '十一', '十二'],  //数组
                    user: { //对象
                        name: '秦一骅',
                        gender: '男',
                    },
                    teacher: [  //包含两个对象的数组
                        {id: 100, name: "张三", url: "https://www.baidu.com"},
                        {id: 101, name: "李四", url: "google.com"},
                    ]
                })

                return {
                    data,
                }
            }
        }).mount('#app')
    </script>
</body>
</html>